@model IEnumerable<Diary.Models.Story>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
    { 
        <p> Title: @Html.TextBox("SearchString")
            <input type="submit" value="Filter" class="btn btn-default" /> 
        </p> 
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.storyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rateOfStory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.textStory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageStory)

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.storyTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateStory)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.rateOfStory)*@
            @{ 
               for (int i = 0; i < item.rateOfStory; i++) 
                    {
                        <div class="glyphicon glyphicon-star"></div>    
                    }
             }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.textStory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageStory)
            <img src="@Url.Action("RenderPhoto", "Stories", new { imageId = item.storyId })" class="story-img" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.storyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.storyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.storyId })
        </td>
    </tr>
}

</table>
